{% extends '::base.html.twig' %}

{% block body %}
<div class="container under-navbar">
	<div class="row">
	{{form_start(form)}}
		{{form_label(form.university)}}
		{{form_widget(form.university)}}
		{{form_label(form.degree)}}
		{{form_widget(form.degree)}}
		{{form_label(form.save)}}
		{{form_widget(form.save, {attr : {class: 'btn btn-primary'}})}}
	{{form_end(form)}}
	</div>
	<div class="row">
        	{% for graduate in graduates %}
                	<p>Name: {{graduate.firstname}} {{graduate.lastname}}</p>
        	{% endfor %}	
	</div>

</div>
{% endblock %}
