{% extends '::base.html.twig' %}

{% block body %}

	<div id="wrapper">
		<div id="sidebar-wrapper">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					{{form_start(form, {'attr':{'class': 'form-horizontal sidebar-form','role': 'form'}})}}
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									{{form_label(form.university)}}
									{{form_widget(form.university, {'attr':{'class':'form-control'}})}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									{{form_label(form.degree)}}
									{{form_widget(form.degree, {'attr':{'class':'form-control'}})}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									{{form_label(form.resultFrom)}}
									{{form_widget(form.resultFrom, {'attr':{'class':'form-control'}})}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									{{form_label(form.resultTo)}}
									{{form_widget(form.resultTo, {'attr':{'class':'form-control'}})}}
								</div>
							</div>
						</div>
						<div class="row">
							<label>Year Graduated</label>
							<div id="datepicker" class="col-md-12 input-daterange input-group">
								{{form_widget(form.yearFrom, {'attr':{'class':'input-sm form-control'}})}}
								<span class="input-group-addon">to</span>
								{{form_widget(form.yearTo, {'attr':{'class':'input-sm form-control'}})}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									{{form_label(form.save)}}
									{{form_widget(form.save, {attr : {class: 'btn btn-primary graduate-search-button'}})}}
								</div>
							</div>
						</div>
					{{form_end(form)}}			
				</div>				
			</div>
		</div>
		<div id="page-content-wrapper">
			<div class="page-content">
				{% for graduate in graduates %}
				<div class="row">
    				<div class="col-md-2"></div>
    				<div class="col-md-8 section">
        				<div class="col-md-3 no-left-padding">
							{% if graduate.image is not null %}
        					<img class="thum2bnail" src="{{ asset(graduate.image.fullPath) }}" style="width: 150px; height: 150px;" />
        					{% else %}
        					<img class="thum2bnail" src="{{ asset('uploads/profile_images/default/female.jpg') }}" style="width: 150px; height: 150px;" />
        					{% endif %}
        				</div>
        				<div class="col-md-9">
        					<h3><a href="{{ path('gradually_graduate_default_view', {'id' : graduate.id}) }}">{{graduate.firstname}} {{graduate.lastname}}</a></h3>
                			{% for qualification in graduate.qualifications %}
	                			<p class="inline"><span class="bold">{{qualification.degree.title}}</span>,</p>
	                			<p class="inline"><span class="italics">{{qualification.university.name}}</span>:</p>
	                			<p class="inline">{{qualification.result.name}}</p>
	                			<p class="inline">({{qualification.yearAttained}})</p> 
	                			<hr>
							{% endfor %}
                		</div> 
                		<hr>
                	</div>
        			<div class="col-md-2"></div>
				</div>
        		{% endfor %}	
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
	$('#datepicker').datepicker({
    	format: " yyyy",
    	viewMode: "years", 
    	minViewMode: "years"
	});
</script>

<script>
	$('#menu-toggle').click(function(){
		$('#wrapper').toggleClass("toggled");
	});
</script>
{% endblock %}