{% extends "::base.html.twig" %}

{% block body %}
	{% for graduate in graduates %}
		<p>ID: {{ graduate.id }}</p>
		<p>Name: {{ graduate.profile.firstname }}</p>
		<p>Qualifications:</p>
		{% for qualification in graduate.profile.qualifications %}
			<ul>
				<li>University: {{ qualification.university.name }}</li>
				<li>Degree: {{ qualification.degree.title }}</li>
				<li>Honors: {{ qualification.result }}</li>
				<li>Year Attained: {{ qualification.yearAttained | date("Y") }}</li>
			</ul>
		{% endfor %}
		<hr>
	{% endfor %}
{% endblock %}
