{% extends "::base.html.twig" %}

{% block body %}
<div class="container under-navbar">
  {{ image }}
	<p>Name: {{ graduate.firstname | capitalize }} {{ graduate.lastname }}</p>

    {{ form_start(pForm) }}
    {{ form_end(pForm) }}

    {{ form_start(qForm) }}
        {{ form_errors(qForm) }}
        <div>
            {{ form_label(qForm.university) }}
            {{ form_errors(qForm.university) }}
            {{ form_widget(qForm.university) }}
        </div>
        <div>
            {{ form_label(qForm.degree) }}
            {{ form_errors(qForm.degree) }}
            {{ form_widget(qForm.degree) }}
        </div>
        <div>
            {{ form_label(qForm.degreeLevel) }}
            {{ form_errors(qForm.degreeLevel) }}
            {{ form_widget(qForm.degreeLevel) }}
        </div>
        <div>
            {{ form_label(qForm.result) }}
            {{ form_errors(qForm.result) }}
            {{ form_widget(qForm.result) }}
        </div>
        <div>
            {{ form_label(qForm.yearAttained) }}
            {{ form_errors(qForm.yearAttained) }}
            {{ form_widget(qForm.yearAttained) }}
        </div>
    {{ form_end(qForm) }}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
var $university = $('#gradually_graduatebundle_qualification_university');
// When university gets selected ...
$university.change(function() {
  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected university value.
  var data = {};
  data[$university.attr('name')] = $university.val();
  // Submit data via AJAX to the form's action path.
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
      // Replace degree field ...
      $('#gradually_graduatebundle_qualification_degree').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#gradually_graduatebundle_qualification_degree')
      );
      // Degree field now displays the appropriate degrees.
    }
  });
});
</script>
{% endblock %}
