{% extends "::base.html.twig" %}

{% block content %}
<div class="cl-mcont col-md-10 col-md-offset-1">
  <div class="block-flat">
    <div class="header">
      <h3>Overview</h3>
    </div>
    <div class="content">
      <div class="col-sm-12 col-md-3">
        <img class="thumbnail" src="{{ asset(imagePath) }}" style="width: 150px; height: 150px;" />
        {% if app.user.id == graduate.id %} 
          <p><a data-toggle="modal" href="#add-profileimage-modal" class="btn btn-primary btn-large">Change Image</a></p>
        {% endif %}
      <div id="add-profileimage-modal" class="modal fade" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <a data-dismiss="modal" class="close">x</a>
              <h3>Update image</h3>
            </div>
            <div class="modal-body">
              {{ form_start(pForm) }}
                <div class="profile-image-upload fileinput fileinput-new" data-provides="fileinput">
                  <div class="profile-image-upload-preview fileinput-preview thumbnail" data-trigger=" fileinput" style="width: 200px; height: 200px; display:none;"></div>
                    <div>
                    <span class="btn btn-default btn-file">
                      <span class="fileinput-new">
                        {{ form_label(pForm.file, 'Find an image...') }}
                        {{ form_widget(pForm.file) }}
                      </span>
                      <span class="fileinput-exists">Change</span>
                      <input type="file" name="...">
                    </span>
                  </div>
                </div>
            </div>  
            <div class="modal-footer">
              <a>{{ form_widget(pForm.save, {'attr': {'class': 'btn btn-success'}}) }}</a>
              <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>
      </div>
      {{ form_end(pForm) }} 
      </div>
      <div class="col-sm-12 col-md-9">
        <h3>{{graduate.firstName}} {{graduate.lastName}}</h3>
      </div>
    </div>
  </div>

  <div class="block-flat">
    <div class="header overflow-hidden">
      <div class="col-sm-9">
        <h3>Work experience</h3>        
      </div>
      <div class="col-sm-3 pull-right padding-right-5">
        <a href="#add-experience" class="btn btn-primary pull-right" data-toggle="modal">
          Add work experience
        </a>
        <div id="add-experience" class="modal fade" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <a data-dismiss="modal" class="close">x</a>
                <h3>Add some work experience</h3>
              </div>
              <div class="modal-body overflow-hidden">
                {{ form_start(eForm, {attr:{'id':'add-experience-form', 'role':'form'}}) }}
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group max-width-300">
                      {{ form_widget(eForm.company, {attr:{'class':'form-control', 'placeholder':'Company'}})}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group max-width-300">
                      {{ form_widget(eForm.summary, {attr:{'class':'form-control', 'placeholder':'Summary'}})}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group max-width-300">
                      {{ form_widget(eForm.yearFrom, {attr:{'class':'form-control', 'placeholder':'Year From'}})}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group max-width-300">
                      {{ form_widget(eForm.yearTo, {attr:{'class':'form-control', 'placeholder':'Year To'}})}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group max-width-300">
                      <button type="button" id="upload-experience" class="btn btn-success">Save</button>
                    </div>
                  </div>
                </div>
                {{ form_end(eForm) }}
              </div>  
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
    <div class="content">
      {% for e in graduate.cv.experiences %}
      <ul class="list-group">
        <li class="list-group-item">
        <h4>{{e.company}} ({{e.yearFrom}} - {{e.yearTo}})</h4>
        <p>{{e.summary}}:</p> 
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>

  <div class="block-flat">
    <div class="header overflow-hidden">
      <div class="col-sm-9">
        <h3>Qualifications</h3>        
      </div>
      <div class="col-sm-3 pull-right padding-right-5">
        <a href="#add-qualification" class="btn btn-primary pull-right" data-toggle="modal">
          Add qualification
        </a>
        <div id="add-qualification" class="modal fade" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <a data-dismiss="modal" class="close">x</a>
                <h3>Add a qualification</h3>
              </div>
              <div class="modal-body overflow-hidden">
                {{ form_start(qForm, {attr:{'id':'add-qualification-form', 'role':'form'}}) }}
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group max-width-300">
                          {{ form_widget(qForm.school, {attr:{'class':'form-control', 'placeholder':'Institute'}})}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group max-width-300">
                          {{ form_widget(qForm.course, {attr:{'class':'form-control', 'placeholder':'Course'}})}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group max-width-300">
                          {{ form_widget(qForm.courseLevel, {attr:{'class':'form-control', 'placeholder':'Qualification Level'}})}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group max-width-300">
                          {{ form_widget(qForm.grade, {attr:{'class':'form-control', 'placeholder':'Grade acheived'}})}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group max-width-300">
                          {{ form_widget(qForm.yearAttained, {attr:{'class':'form-control', 'placeholder':'Year attained'}})}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group max-width-300">
                          <button type="button" id="upload-qualification" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>
                {{ form_end(qForm) }}
              </div>  
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
              </div>
            </div>
          </div>
        </div>      
      </div>
    </div>
    <div class="content">
      {% for q in graduate.cv.qualifications %}
      <ul class="list-group">
        <li class="list-group-item">
        <h4>{{q.course.value}} ({{q.courseLevel}})</h4>
        <em>{{q.school.value}}:</em> {{q.yearAttained}}<br>
        Grade: {{q.grade}}
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>

  <div class="block-flat col-sm-12">
    <div class="header">
      <h3>Skills</h3>
    </div>
    <div class="content">
      List of specific skills
    </div>
  </div>

</div><!-- cl-mcont -->
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  
  <!-- Boostrap modal -->
  <script src="{{ asset('js/bootstrap-modal.js') }}"></script>

  <script>
    $('.profile-image-upload').click(function(){
      $('.profile-image-upload-preview').css('display', 'inline-block')
    });
  </script>

<script>
    $('#upload-experience').on('click', function () {
        $.ajax({
            type: "POST",
            url: 'http://localhost:81/gradually/web/app_dev.php/api/graduates/{{app.user.id}}/experiences.json',
            data: $('#add-experience-form').serialize()
        }).done(function(){
            location.reload();
        }).fail(function(){
            alert("Failed");
        })
    });

    $('#upload-qualification').on('click', function () {
        $.ajax({
            type: "POST",
            url: 'http://localhost:81/gradually/web/app_dev.php/api/graduates/{{app.user.id}}/qualifications.json',
            data: $('#add-qualification-form').serialize()
        }).done(function(){
            location.reload();
        }).fail(function(){
            alert("Failed");
        })
    });  
</script>

{% endblock %}

